.nav {
        margin: 20px 0 30px;
        text-align: center;
    }

.nav a {
    margin: 0 15px;
    font-size: 16px;
    color: #000;
    text-decoration: none;
    padding-bottom: 4px;
}

.nav a:hover {
    border-bottom: 2px solid #000;
    }

body{
    margin-left: 20%;
    margin-right: 20%;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
  box-sizing: border-box;
}

.column img {
  width: 100%;
  height: auto;
}

.row {
  clear: both;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}