.nav {
        margin: 20px 0 30px;
        text-align: center;
    }

.nav a {
    margin: 0 15px;
    font-size: 16px;
    color: #000;
    text-decoration: none;
    padding-bottom: 4px;
}

.nav a:hover {
    border-bottom: 2px solid #000;
    }

body{
    margin: auto;
    max-width: 960px;
}

.column3 {
  float: left;
  width: 33.33%;
  padding: 5px;
  box-sizing: border-box;
}

.column3 img {
  width: 100%;
  height: auto;
}

.column2 {
  float: left;
  width: 50%;
  padding: 5px;
  box-sizing: border-box;
}

.column2 img {
  width: 100%;
  height: auto;
}

.column_right {
  float: right;
  width: 50%;
  padding: 5px;
  box-sizing: border-box;
}

.column_right img {
  width: 100%;
  height: auto;
}

.row {
  clear: both;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}