p {
        margin-left: 20%;
        margin-right: 20%;
    }
    .nav {
        margin: 20px 0 30px;
        text-align: center;
        }

    .nav a {
    margin: 0 15px;
    font-size: 16px;
    color: #000;
    text-decoration: none;
    padding-bottom: 4px;
    }

    .nav a:hover {
    border-bottom: 2px solid #000;
    }
